GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat-3-Ultra
GIGACHAT_VERIFY_SSL=true

DATABASE_PATH=data/app.db
UPLOAD_DIR=data/jobs
MAX_UPLOAD_BYTES=104857600
MAX_DOCUMENT_TOKENS=250000
CHUNK_TARGET_TOKENS=8000
CHUNK_OVERLAP_TOKENS=300

